process {                                                                                                                                                         
  withName: 'BWAMEM1_MEM|BWAMEM2_MEM' {                                                                                                                         
        cpus   = { 22    * task.attempt }                                                                                                                         
        memory = { 30.GB * task.attempt }                                                                                                                         
     }
    withName:'FREEBAYES' {
        memory = { 24.GB * task.attempt }
    }
    withName: 'CNVKIT_BATCH' {
      time = '24h'  // Adjust as needed
      memory = '32GB'  // Increase if needed
      cpus = 4  // Optional: Adjust CPU
    }                                            
}  
