process {
 withName:illumination  {
  time  = '6h'
 }
 withName:coreograph   {
  time  = '12h'
 }
 withName:ashlar     {
  time  = '12h'
 }
 withName:s3seg     {
  time  = '12h'
 }
 withName:mcquant    {
  time  = '12h'
 }
 withName:'segmentation:worker'     {
  time  = '12h'
  queue = 'gpu_quad'
 }
}
