manifest {
  nextflowVersion = '!>=23.04.3'
}

process {
  cpus = 1
  maxRetries = 2
  errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
  withName:illumination {
    cpus = 4
    memory = { 12.GB * (1 + (task.attempt - 1) / 2) }
  }
  withName:ashlar {
    memory = { 4.GB * (1 + (task.attempt - 1) / 2) }
  }
  withName:worker {
    memory = { 37.GB * (1 + (task.attempt - 1) / 2) }
  }
  withName:s3seg {
    memory = { 64.GB * (1 + (task.attempt - 1) / 2) }
  }
}
